@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    display: flex;
    flex: 1;
    width: 60%;
    height: 100%;
}

.about-container {
    justify-content: center;
    align-items: center;
    margin: auto;
}

.about-info {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.my-4 {
    width: 60%;
}