<div class="container">
  <div class="about-container">
    <div class="about-info">
      <h2>About Me</h2>
      <p>There is nothing really special or cool about me. I am very appreciative of you coming over to my little website to learn some more about me.<br>
        My name is James Lemieux. I am a Computer Science student currently studying at the University of Guelph. I am currently interning at Google in their NYC office as a Software Engineer. I one day wish to create my own start up and to create a following on either Youtube or Twitch!</p>
    </div>
    <hr class="my-4">
    <!-- <div *ngIf="socialLinks" class="about-info">
      <h2>I want to be famous so follow me!</h2>
      <p [innerHtml]="socialLinks"></p>
    </div> -->
  </div>
</div>
