<div class="container">
  <div class="contact-form">
    <h2 style="padding-bottom: 20px">Contact Me</h2>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
      </div>
      <input [(ngModel)]="name" type="text" class="form-control" placeholder="Your Name Here" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    
    <div class="input-group mb-3">
      <input [(ngModel)]="email" type="text" class="form-control" placeholder="Your Email Here" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Comment/Suggestion</span>
      </div>
      <textarea [(ngModel)]="text" class="form-control" aria-label="With textarea"></textarea>
    </div>
    <span style="float:right; padding-top: 20px;"><button (click)="sendEmail()" type="button" class="btn btn-outline-secondary">Send</button></span>
  </div>
</div>
