<div class="container-posts">
  <div class="card">
    <div class="card-header">
      {{header}}
    </div>
    <div class="card-body">
      <div class="card-img">
        <img src="../../../favicon.ico"/>
      </div>
      <div class="card-contents">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/news" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{date}} days ago
    </div>
  </div>
</div>

