@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container-posts {
    padding-top: 50px;
    margin-left: 30px;
    width: 95%;
}
.card {
    height: 530px;
    width: 60%;
    margin: auto;
    border-width: 0.2px;
    border-color: rgb(181, 167, 129, 0.5);
}

.card-body {
    display: flex;
    flex: 1;
}

.card-img {
    max-width: 500px;
    float: left;
}

.card-contents {
    flex-direction: column;
    flex: 1;
}

.card-footer {
    text-align: right;
}

.btn {
    float: right;
}

.card-header {
  font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.card-text {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.card-info {
    margin-top: 15%;
    padding-left: 50px;
}

.card-meta {
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    float: right;
}

.card-social {
    justify-content: flex-end;
    float: right;
}