<div class="container-posts">
  <div class="card">
    <div class="card-header">
      {{_Document.data.blogtitle[0].text}}
    </div>
    <div class="card-body">
      <div class="card-img">
        <img src={{_Document.data.thumbnail.url}}/>
      </div>
      <div class="card-contents">
        <p class="card-text">{{_Document.data.synopsis[0].text}}</p>
        <button class="btn btn-primary" (click)="postEntered()">Enter</button>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted {{_Document.last_publication_date | date}}
    </div>
  </div>
</div>

